.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap:20px;
    z-index: 1;
}
.featuredItem{
    position:relative;
    color:white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

}

.featuredImg{
    height: 300px;
    width: 320px;
    object-fit: cover;
    overflow: hidden;
    position:relative;
}

.featuredTitles{
    position: absolute;
    bottom: -2px;
    left: 20px;
}